<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexionBD"
			 connectionString="DataBase=SoporteTecnico; Server=DESKTOP-U3MPUK5\SQLEXPRESS;Integrated Security=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>